# project utilities
black
flake8
isort
loguru
pip
python-dotenv
tqdm
typer
# analysis
openpyxl
sentence_transformers
datasets
pandas
numpy
git+https://github.com/centre-for-humanities-computing/infodynamics.git
# -e .
